POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_SECURE_COOKIES=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,server,192.168.4.106,me.bookmountain.work,me-admin.bookmountain.work
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://127.0.0.1:8000,http://localhost:8000,http://192.168.4.106:3000,http://192.168.4.106:8000,https://me.bookmountain.work,https://me-admin.bookmountain.work
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
SEED_DEMO_CONTENT=true

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_ADMIN_URL=http://localhost:8000/admin
